<div class="container-fluid body">
    <div class="">
      <div class="management-header mt-3">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Enter customer name or order ID">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
  
      <div class="mat-elevation-z8  ">
        <form [formGroup]="tarifFormGroup">
          <table class="table" mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0; else noDataTemplate">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="t-header"> Name </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="editingRowId !== element._id; else editName">
                  {{ element.name || 'N/A' }}
                </ng-container>
                <ng-template #editName>
                  <mat-form-field appearance="outline" class="form-Fields">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name">
                  </mat-form-field>
                </ng-template>
              </td>
            </ng-container>
  
            <!-- Duration Column -->
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef class="t-header"> Duration </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="editingRowId !== element._id; else editDuration">
                  {{ element.duration || 0 }}
                </ng-container>
                <ng-template #editDuration>
                  <mat-form-field appearance="outline" class="form-Fields">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" formControlName="duration" placeholder="Duration">
                  </mat-form-field>
                </ng-template>
              </td>
            </ng-container>
  
            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef class="t-header"> Price </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="editingRowId !== element._id; else editPrice">
                  {{ element.price || 0 }}
                </ng-container>
                <ng-template #editPrice>
                  <mat-form-field appearance="outline" class="form-Fields">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" formControlName="price" placeholder="Price">
                  </mat-form-field>
                </ng-template>
              </td>
            </ng-container>
  
            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef class="t-header"> Description </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="editingRowId !== element._id; else editDescription">
                  {{ element.description || 'N/A' }}
                </ng-container>
                <ng-template #editDescription>
                  <mat-form-field appearance="outline" class="form-Fields">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" placeholder="Description">
                  </mat-form-field>
                </ng-template>
              </td>
            </ng-container>
  
            <!-- Actions Column -->
            <ng-container matColumnDef="validation">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="editingRowId !== element._id; else saveCancelButtons">
                  <button mat-raised-button (click)="startEdit(element)">
                    <i class="fa-solid fa-pen-to-square"></i> Edit
                  </button>
                  <button mat-stroked-button class="delete-btn">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </ng-container>
                <ng-template #saveCancelButtons>
                  <button class="Action-btn" mat-raised-button color="primary" (click)="saveEdit()" [disabled]="tarifFormGroup.invalid">
                    <i class="Action-btn fa-solid fa-check"></i> 
                  </button>
                  <button mat-stroked-button (click)="cancelEdit()">
                    <i class="fa-solid fa-times"></i> 
                  </button>
                </ng-template>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            
            
          </table>
        
        </form>
        <!-- No Data Template -->
        <ng-template #noDataTemplate>
            <div class="no-data">
              <mat-icon>info</mat-icon>
              <p>No users available.</p>
            </div>
          </ng-template>
    
  
        
      </div>
      <div class="paginator">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

      
    </div>
  </div>