<!-- admin-layout.component.html -->
<div class="admin-container">
    <!-- Sidebar -->
    <nav class="sidebar">
        <div class="logo-container">
            <img src="assets/img/logo2.png" alt="Admin Logo" class="logo">
        </div>
        <ul class="nav-menu mt-3">
            <li class="nav-item " *ngFor="let item of navItems">
                <a [routerLink]="item.route" routerLinkActive="active" class="nav-link">
                    <i class="icon {{ item.iconName }}"></i>
                    <span>{{ item.label }}</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="admin-profile">
                
            </div>
        </div>
    </nav>
    <!-- Main Content Area -->
    <div class="main-content">
        <header class="header d-flex align-items-center justify-content-between">
            <h1 class="d-flex align-items-center">
                {{ pageTitle }}
            </h1>

            <div class="d-flex align-items-center ml-auto">
              <!-- Notifications Button -->
              <button mat-icon-button [matMenuTriggerFor]="notificationMenu" class="btn-menu">
                <i class="fa-solid fa-bell notification-icon"></i>
                <span class="notification-badge" *ngIf="notifications.length > 0">
                  {{ notifications.length }}
                </span>
              </button>
            
              <!-- Notifications Menu -->
              <mat-menu #notificationMenu="matMenu">
                <ng-container *ngIf="notifications.length > 0; else noNotif">
                  <button mat-menu-item *ngFor="let notification of notifications" (click)="updateToRead(notification._id)">
                    <div>
                      <strong>{{ notification.user.prenom }} {{ notification.user.nom }}</strong><br />
                      <span>{{ getNotificationText(notification.type) }}</span><br />
                      <small>{{ notification.createdAt | date: 'short' }}</small>
                    </div>
                  </button>
                </ng-container>
                <ng-template #noNotif>
                  <button mat-menu-item disabled>No notifications</button>
                </ng-template>
              </mat-menu>
            
              <!-- Settings Menu -->
              <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-menu">
                <i class="fa-solid fa-gear gear"></i>
              </button>
            
              <mat-menu #menu="matMenu">
                <button mat-menu-item class="btn-Menu" (click)="openDialog()">
                  <i class="fa-solid fa-plus"></i> Add Course 
                </button>
                <button mat-menu-item class="btn-Menu" (click)="logout()">
                  <i class="fa-solid fa-right-from-bracket"></i> Logout
                </button>
              </mat-menu>
            </div>
            
        </header>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>