/* Import Fonts and Icons */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

/* General Reset */
* {
   
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif !important;
}
mat-icon {
    font-family: 'Material Icons' !important;
}   
p{
    margin: 0;
    padding: 0;
}
/* Global Styles */
.body {
    background-color: #f8f9fa;
    padding: 20px;
    overflow: auto;
}


/* Material Paginator */
mat-paginator {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 20px;
}

/* Drawer Styles */
.drawer {
    width: 400px;
    background-color: #f8f9fa;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Card Header and Body Styles */
.card-header {
    color: rgb(56, 55, 55);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}

.card-body p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #555;
    padding: 5px 0;
}

.card-body mat-icon {
    font-size: 20px;
}

/* Card Footer */
.card-footer {
    padding: 10px;
}


/* Delete Button */
.delete-btn {
    width: 10%;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 185, 185);
    border-radius: 5px;
}

/* Header for Management Section */
.management-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.management-header mat-form-field {
    width: 48%;
}

/* Table Styles */
.table {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.mat-form-field {
    width: 100%;
}

/* Bootstrap Button Styling (for confirmation buttons) */
button.mat-raised-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

button.mat-stroked-button {
    width: 100%;
    background: transparent;
    margin: 5px 0;
}

