<div class="container-fluid body">
  <mat-drawer-container class="example-container" hasBackdrop="True">
    <mat-drawer class="drawer" #drawer mode="over">
      <div *ngIf="selectedUser">
        <div class="card-header">
          <div class="d-flex align-items-center mx-auto">
            <mat-icon color="primary">person</mat-icon> User Info
          </div>
        </div>
        <div class="card-body">
          <p><mat-icon>badge</mat-icon> <strong>Name:</strong> {{ selectedUser.name }}</p>
          <div class="form-group">
            <label><p><mat-icon>subscriptions</mat-icon> <strong>Subscription Type</strong></p></label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select [(value)]="selectedSubscriptionType">
                <mat-option value="Basic">Basic</mat-option>
                <mat-option value="Premium">Premium</mat-option>
                <mat-option value="Enterprise">Enterprise</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label><p><mat-icon>calendar_today</mat-icon> <strong>Start Date</strong></p></label>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput [matDatepicker]="startPicker" (dateChange)="updateSubscriptionDate($event, 'start')">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          </div>
    
          <div class="form-group">
            <label><p><mat-icon>calendar_today</mat-icon> <strong>End Date</strong></p></label>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput [matDatepicker]="endPicker" (dateChange)="updateSubscriptionDate($event, 'end')">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
    
          
        </div>
    
        <div class="card-footer">
          <button mat-raised-button class="d-flex align-items-center mx-auto" (click)="confirmSubscription()">
            <mat-icon>check_circle</mat-icon> Confirm
          </button>
        </div>
      </div>
    </mat-drawer>
    
  
    <mat-drawer-content>
      <div class="container box">
        <div class="management-header mt-1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter customer name or order ID">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Sort By</mat-label>
            <mat-select [(value)]="selectedSortOption" (selectionChange)="onSortOptionChange()">
              <mat-option *ngFor="let option of sortOptions" [value]="option.value">
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="mat-elevation-z8 table">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
  
            <ng-container matColumnDef="Phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
            </ng-container>
  
            <ng-container matColumnDef="validation">
              <th mat-header-cell *matHeaderCellDef> Validation </th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click)="openDrawer(element); drawer.toggle()">Validate</button>
                <button mat-stroked-button class="delete-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
</div>